[Unit]
Description=JupyterLab Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=PATH=/opt/anaconda3/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/local/bin/jupyterlab-server.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
